# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
env/

# --- STREAMLIT ---
.streamlit/config.toml
.streamlit/secrets.toml

# --- ENVIRONMENT & SECRETS ---
.env
.flaskenv
*.secret
*.json

# --- OS / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db